fastapi==0.115.0
uvicorn[standard]==0.30.3
SQLAlchemy==2.0.32
alembic==1.13.2
pydantic==2.9.2
pydantic-settings==2.4.0
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-multipart==0.0.9
bcrypz
email-validator==2.2.0
aiofiles==24.1.0
websockets==13.1

jinja2
cryptography
